$base-background-color: black;

$light-background-color: rgba($base-background-color, 0.7);

$medium-background-color: rgb(90, 86, 86);

$dark-background-color: black;

$text-color: rgb(251, 239, 239);
