@use 'src/sass/abstracts' as *;

button {
  background-color: $dark-background-color;
  color: $text-color;
  text-align: center;
  &:hover {
    background-color: rgb(186, 196, 196);
  }
}

.nav-button {
  width: 50%;
}

.back-button {
  border: none;
  width: fit-content;
  height: fit-content;
  border: none;
  font-size: 1rem;
  background-color: $dark-background-color;
  padding: 0.5rem;
}

.mainOpening-button {
  padding: 0.3rem;
}

.next-vol-button {
  width: fit-content;
  border: none;
  background-color: $medium-background-color;
}

.previous-vol-button {
  width: fit-content;
  border: none;
  background-color: $medium-background-color;
}

.variation-button {
  display: flex;
  width: 100%;

  align-items: center;

  & * {
    flex: 1;
  }
}
